<section class="hero-section">
  <app-hero [title]="heroTitle" [description]="heroDescription" [image]="heroImage" />
  <!--Property binding, värdet kommer från en komponents klass-->
</section>

<section class="spots-section">
  <div class="spots-grid">
    <!-- track spot.text istället för .id, eftersom Spot-interfacet saknar id -->
    <!--Sedan loopa igenom de olika spotsen-->
    @for (spot of spots; track spot.text) {
      <app-spot [spot]="spot" />
    }
  </div>
</section>

<section class="popular-products">
  <h2>Populära Produkter</h2>
  <div class="product-grid">
    @for (product of products(); track product.id) {
      <app-product-card [product]="product" />
    }
  </div>
</section>
