<section class="hero-section">
  <app-hero [title]="heroTitle" [description]="heroDescription" [image]="heroImage" />
</section>

<section class="spots-section">
  <div class="spots-grid">
    @for (spot of spots; track spot.text) {
      <app-spot [spot]="spot" />
    }
  </div>
</section>

<section class="popular-products">
  <h2>Populära Produkter</h2>
  <div class="product-grid">
    @for (product of products(); track product.id) {
      <app-product-card [product]="product" />
    }
  </div>
</section>
